<%= link_to("<< Currencies", {:action => 'index'}, :class => 'back-link') %>

<div class="currencies edit">
  <h3>Update Currency</h3>

  <%= form_for(:currency, :url => {:action => 'update', :id => @currency.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Currency") %>
    </div>

  <% end %>
</div>