<%= link_to("<< Currencies", {:action => 'index'}, :class => 'back-link') %>

<div class="currencies new">
  <h3>Create Currency</h3> 

  <%= form_for(:currency, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Currency") %>
    </div>

  <% end %>
</div>