
<body>
<div class="home">
  <h2>Hoofdmenu</h2>

  <ol>
    <li><%= link_to("Currencies", {:controller => 'currencies'}) %></li>
    <li><%= link_to("Exchange Rates", {:controller => 'exchange_rates'}) %></li>
  </ol>  

</body>
</div >