<% @page_title = "Home" %>

<div class="home index">
  <h1>Xchange</h2>

  <table class="listing" summary="Currency list">
    <tr class="header">
      <%= link_to("Currencies", {:action => 'index'}) %>
      <%= link_to("Exchange Rates", {:action => 'index'}) %>
      </td>
    </tr>
    <% end %>
  </table>
  </div>
  


